.toolbar {
  --color-border: #e2e0e0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.toolbar__actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toolbar__arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  order: 1;
}

.toolbar__button {
  appearance: none;
  background-color: transparent;
  border: none;
}

.toolbar__button--filter {
  background-color: #e2e0e0;
  color: #9c9c9c;
  border-radius: 4rem;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
}

.toolbar__button--filter:hover {
  --bg-button: #31c2fc;
  background-color: var(--bg-button);
  color: #fff;
}

.toolbar__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.toolbar__description {
  margin: 0;
}

.toolbar__icon {
  height: 2rem;
  width: 2rem;
}

.toolbar__icon:hover {
  --bg-button: #31c2fc;
  background-color: var(--bg-button);
  border-radius: 50%;
  color: #fff;
}

.toolbar__quantity {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.toolbar__sort {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  order: 2;
}

@media screen and (min-width: 600px) {
  .toolbar__buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .toolbar__actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .toolbar__arrows {
    order: 2;
  }

  .toolbar__sort {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
    order: 1;
  }
}

@media screen and (min-width: 1024px) {
  .toolbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .toolbar__actions {
    width: 81%;
  }

  .toolbar__status {
    border-right: 1px solid var(--color-border);
    padding-right: 1rem;
  }
}
