.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.toolbar__arrows {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}

.toolbar__button {
  appearance: none;
  background-color: transparent;
  border: none;
}

.toolbar__button--filter {
  background-color: #e2e0e0;
  color: #9c9c9c;
  border-radius: 4rem;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
}

.toolbar__button--filter:hover {
  --bg-button: #31c2fc;
  background-color: var(--bg-button);
  color: #fff;
}

.toolbar__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.toolbar__description {
  color: #9c9c9c;
  font-size: 1.1rem;
  margin: 0;
}

.toolbar__icon {
  height: 2rem;
  width: 2rem;
}

.toolbar__icon:hover {
  --bg-button: #31c2fc;
  background-color: var(--bg-button);
  border-radius: 50%;
  color: #fff;
}

.toolbar__status {
  font-size: 1.1rem;
  margin: 0;
  text-align: center;
}

.toolbar__sort {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  .toolbar__buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
}
