.banner {
  background-image: url("assets/header.png");
  background-position: 98% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 9.5rem;
  position: relative;
}

.banner__title {
  bottom: 1.5rem;
  color: #fff;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  left: 0.5rem;
}

@media screen and (min-width: 600px) {
  .banner {
    height: 12rem;
  }

  .banner__title {
    font-size: 2rem;
    left: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 14rem;
  }

  .banner__title {
    font-size: 3rem;
    left: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    background-position: 0% 3%;
    height: 19.5rem;
  }

  .banner__title {
    left: 4.5rem;
  }
}
