.banner {
  background-image: url("assets/header.png");
  background-position: 98% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 9.5rem;
  position: relative;
}

.banner__title {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .banner {
    height: 12rem;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 14rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    background-position: 0% 3%;
    height: 19.5rem;
  }
}
