.pill {
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.35rem;
  padding: 0.5rem;
}

.pill__icon--coin {
  height: 1.6rem;
  margin-bottom: -0.2rem;
}

.pill--need {
  background-color: black;
  color: #fff;
  font-size: 0.7rem;
  opacity: 0.7;
  position: absolute;
  right: 1rem;
}

.pill__value {
  margin: 0;
}
