.product {
  --height-product: 16rem;
  background-color: #fff;
  border-radius: 0.6rem;
  height: var(--height-product);
  padding: 0.5rem 1rem;
  position: relative;
  width: 13rem;
}

.product:hover {
  --bg-product: #31c2fc;
  background-color: var(--bg-product);
}

.product:hover .product__image {
  opacity: 0.3;
}

.product:hover .product__overlay {
  opacity: 1;
}

.product:hover .product__category {
  color: #000000;
  opacity: 0.2;
}
.product:hover .product__cost {
  color: #fff;
}

.product:hover .product__name {
  opacity: 0.2;
}

.product__button {
  appearance: none;
  background-color: #fff;
  border: none;
  border-radius: 4rem;
  display: block;
  outline: none;
  padding: 0.5rem 0;
  width: 80%;
}

.product__category {
  color: #9c9c9c;
  font-size: 0.85rem;
  margin: 0;
}

.product__cost {
  font-size: 2rem;
}

.product__details {
  display: flex;
  flex-direction: column;
  margin: 0.15rem 0;
}

.product__image {
  border-bottom: 1px solid #d3d3d3;
  height: calc(var(--height-product) - 4.2rem);
  opacity: 1;
  object-fit: fill;
  padding: 0.5rem 0;
  width: 100%;
}

.product__link {
  text-align: center;
}

.product__link--btn {
  background-color: #cc5f80;
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.4rem 1rem;
  text-decoration: none;
}

.product__name {
  margin: 0;
}

.product__overlay {
  align-items: center;
  opacity: 0;
  border-radius: 0.8rem;
  color: #cdc892;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.8s linear;
}
