.product {
  background-color: #fff;
  box-shadow: 4px 3px #e8e8e8;
  padding: 0.5rem;
}

.product__category {
  color: #cbcbcb;
  font-size: 0.8rem;
  margin: 0;
}

.product__details {
  padding: 1rem 0.5rem;
}

.product__img {
  height: 8rem;
  width: 100%;
}

.product__name {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}
