.header {
  padding: 0.8rem 1.5rem;
}

.header__group,
.header__link,
.header__nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.header__link {
  color: #4a4a4a;
  font-weight: 600;
  text-decoration: none;
}
