.banner {
  height: 10%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner__image {
  background-size: cover;
  /* height: 2rem; */
  width: 100%;
}

.banner__title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 1rem;
}

@media screen and (min-width: 1024px) {
  .banner {
    border: 2px solid red;
    height: 15rem;
    width: 100%;
    position: relative;
  }

  .banner__image {
    background-size: contain;
    background-position: bottom;
    height: 100%;
    width: 100%;
  }
}
