.banner {
  background-image: url("assets/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 7.5rem;
  position: relative;
}

.banner__title {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .banner {
    height: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 12rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 17rem;
  }
}
